@import '../../assets/styles/theme.scss';

:global {
  #report .ant-card-extra {
    padding: 12.5px 0;
  }
}

.report-extra-wrap {
  display: inline-block;
  // margin-right: 24px;
  a {
    color: $text-color;
    // margin-left: 24px;
    &:hover {
      color: $primary-color;
    }
    &.current-icon {
      color: $primary-color;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .report-extra-wrap {
    display: none;
  }
}
